<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color = "primary">
      <div class="toolbar-items" color="primary">
        <ion-button id="menu-btn">
          <ion-icon name="list-outline"></ion-icon>
        </ion-button>
        <span class="title">YELL</span>
        <span class="search">
          <ion-icon name="search-outline"></ion-icon>
        </span>
        <span class="avtar-span">
          <ion-avatar>
            <img src="../assets/img/avatar.svg" />
          </ion-avatar>
        </span>
      </div>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
